.startmenu{
    height: 80vh;
    width: 250px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 6vh;
    left: 2px;
    box-shadow: 1px 1px 3px 1px var(--windows-black);
    z-index: 100;
}

.title{
    font-weight: bold;
    background-color: var(--windows-dark-blue);
    color: #fff;
    padding: 10px 5px;
    font-size: 1em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}