.league_container{
    width: 400px;
    height: 400px;
    background-image: url(../../assets//background/league.png);
    background-size: cover;
}

.top_container{
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.play_button {
    width: 200px;
    color: yellow;
    background: linear-gradient(90deg, rgb(199, 68, 68), rgb(233, 29, 29), rgb(162, 0, 0));
    border: none;
    border-radius: 5px !important;
    font-size: 20px;
}