.discord_container{
    height: calc(100% - 20px);
    display: flex;
}

.discord_servers{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: #8e8e8e;
}

.server_item{
    cursor: pointer;
    padding: 10px;
    outline:1px solid #000000;
    background:#C0C0C0;
    border-width:1px;
    border-style:solid;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    display:block;
    position: relative;
    font-size: 2vh;
}

.server_item:active{
    background: var(--windows-dark-blue);
}

.notification{
    position: absolute;
    right: -10px;
    bottom: -10px;
    background-color: rgb(232, 59, 59);
    height: 3vh;
    width: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 4px;
    font-size: 2vh;
    z-index: 50;
}

.selected_server{
    height: 100%;
    flex: 1;
}