.windows_logo{
    height: 3.5vh;
    width: 3.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
}

.square{
    border: 0.2vh solid var(--windows-black);
}

.square.windows-logo .square{
    border: 0.2vh solid var(--windows-black);
}

.square:nth-child(1){
    background-color: var(--windows-red);
}

.square:nth-child(2){
    background-color: var(--windows-green);
}

.square:nth-child(3){
    background-color: var(--windows-blue);
}

.square:nth-child(4){
    background-color: var(--windows-yellow);
}